workdir: "/home/qi47rin/proj/04-global-microbiome"

GENOME: "ref/01-silva_132_release/rep_set/rep_set_16S_only/97/silva_132_97_16S.fna"
GENOME_INDEX: "06-indexes"
GENOME_INDEX_BASE: "silva"

PROJ: "cache/08-decontamination-APvsDL"
REFERENCE: "ref/04-silva132_97-unite8.2_97"
SAMPLES_PE: "cache/08-decontamination/04-control-runs-list/PAIRED.tsv"
SAMPLES_SE: "cache/08-decontamination/04-control-runs-list/SINGLE.tsv"

FOLDERS:
    raw_fq_pe: "05-raw-fastq-pe"
    raw_fq_se: "05-raw-fastq-se"
    alngmt: "07-alignment"
    bam: "08-bam"
    sorted: "09-sorted"
    stats: "10-alignment-summary"
    manifest: "07-samples-type"
    merged_pe: "11-merged-pe"
    trim_merg: "12-trmmed-merged"
    trim_se: "12-trmmed-single"
    samples_artifact: "13-samples-artifact"
    reference_artifact: "14-reference-artifact"
    dereplicated: "15-dereplicated-sequences"
    otu_closed: "16-otu_closed"
    export: "17-export"
    add_tax: "18-add-taxonomy"
    abundance: "19-abundances"
    fastqc_raw_pe: "fastqc-raw-pe"
    fastqc_raw_se: "fastqc-raw-se"
    fastqc_trim_merg: "fastqc-trim-merg"
    fastqc_trim_se: "fastqc-trim-se"
    multiqc: "multiqc-report"

ENVIRONMENTS:
    sra_tools: "src/conda/sra-tools.loose.yaml"
    rtidyverse: "src/conda/tidyverseR3.5.1.yaml"

IMAGES:
    bwaMem2: "https://depot.galaxyproject.org/singularity/bwa-mem2:2.0--he513fc3_0"
    samtools: "https://depot.galaxyproject.org/singularity/samtools:1.18--hd87286a_0"
    ngmerge: "https://depot.galaxyproject.org/singularity/ngmerge:0.3--ha92aebf_1"
    qiime2: "docker://qiime2/core:2020.8"
    bbtools: "docker://staphb/bbtools:39.01"
    trimmomatic: "https://depot.galaxyproject.org/singularity/trimmomatic:0.39--hdfd78af_2"
    fastqc: "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0"
    multiqc: "https://depot.galaxyproject.org/singularity/multiqc:1.15--pyhdfd78af_0"

SCRIPTS:
    classify: "src/08-decontamination/run_classify_samples.sh"
    amplicon_type: "src/08-decontamination/lib/04-classify_runs.R"
    manifest: "src/08-decontamination/lib/06-profile-subset-aquatic.R"

PARAMETERS:
    database: ['silva', 'unite']
