params {
	runs_csv = "$PWD/metadata/runs.csv"
	raw_reads_dir = "$PWD/raw/reads"
	results_dir = "$PWD/its-16s-nf"
	conda_envs_dir = "$PWD/db/conda_envs"

	adapters_path = "$PWD/db/adapters/"
	bac_16s_seqs_qza = "$PWD/db/silva/silva_132_16s_97.seqs.qza"
	bac_16s_taxonomy_qza = "$PWD/db/silva/silva_132_16s_97_consensus.taxonomy.qza"
	bac_16s_perc_identity = 0.97
	fun_its_seqs_qza = "$PWD/db/unite/unite_8.2_dynamic_fungi.fna.qza"
	fun_its_taxonomy_qza = "$PWD/db/unite/unite_8.2_dynamic_fungi.tax.qz"
	fun_its_perc_identity = 0.97
}

process {
	errorStrategy = 'ignore'

	withLabel: ext_server {
		maxForks = 5
	}

}

trace {
    enabled = true
    fields = 'task_id, hash, process, tag, status,exit,attempt,submit,realtime,%cpu,rss'
}

